EZprest/EZGui/Web References/WSEZPrest/WSTEST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/WSTEST/Service1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/WSTEST/Service1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WSTEST/Service1">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoriqueAffectation">
        <s:complexType />
      </s:element>
      <s:element name="GetHistoriqueAffectationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoriqueAffectationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="HelloWorldSoapIn">
    <part name="parameters" element="s0:HelloWorld" />
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse" />
  </message>
  <message name="GetHistoriqueAffectationSoapIn">
    <part name="parameters" element="s0:GetHistoriqueAffectation" />
  </message>
  <message name="GetHistoriqueAffectationSoapOut">
    <part name="parameters" element="s0:GetHistoriqueAffectationResponse" />
  </message>
  <portType name="ServiceEZPrestSoap">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldSoapIn" />
      <output message="s0:HelloWorldSoapOut" />
    </operation>
    <operation name="GetHistoriqueAffectation">
      <input message="s0:GetHistoriqueAffectationSoapIn" />
      <output message="s0:GetHistoriqueAffectationSoapOut" />
    </operation>
  </portType>
  <binding name="ServiceEZPrestSoap" type="s0:ServiceEZPrestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/WSTEST/Service1/HelloWorld" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetHistoriqueAffectation">
      <soap:operation soapAction="http://tempuri.org/WSTEST/Service1/GetHistoriqueAffectation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceEZPrest">
    <port name="ServiceEZPrestSoap" binding="s0:ServiceEZPrestSoap">
      <soap:address location="http://localhost/WSTEST/WSTEST.asmx" />
    </port>
  </service>
</definitions>